.picosa1 {
  position: absolute;
  width: 100%;
  float: right;
}

.mitra {
  position: absolute;
  width: 100%;
}

#picgato {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  filter: drop-shadow(5px 9px 2px rgb(0 0 0 / 0.4));
}

.texto {
  position: absolute;
  width: 25%;
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    transform: scale(0.7);
    transform-origin: 0 0;
  }

  #picgato {
    transform: scale(0.8);
    transform-origin: 0 0;
    filter: drop-shadow(9px 9px 2px rgb(0 0 0 / 0.4));
  }

  .texto {
    width: 95%;
    float: none;
    margin-top: 800px;
  }
  .return {
    float: none;
    margin-right: 5px;
    width: 140%;
  }

  #pic2 {
    float: none;
    margin-top: 10%;
    align-self: center;
  }
  #radio {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    float: none;
    margin-left: 70%;
    filter: drop-shadow(9px 9px 2px rgb(0 0 0 / 0.4));
  }

  #disclaim {
    position: absolute;
    width: 95%;
    float: none;
    top: 590px;
    margin-left: 0%;
    right: 1px;
  }
}

h1 {
  color: black;
  font-family: Andalé Mono, monospace;
  font-weight: bold;
}

p {
  color: black;
  font-family: Lucida, monospace;
  font-size: 20px;
  font-weight: bold;
}

body {
  background: #6bc9e2;
}

.return {
  text-align: right;
  margin-right: 20px;
  margin-top: auto;
}

#link {
  background-color: black;
  color: white;
  font-family: Lucida, monospace;
  font-size: 40px;
}

#link:hover {
  color: yellow;
}

#radio {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  float: right;
  margin-left: 70%;
}

#pic2 {
  position: relative;
  float: right;
  margin-top: 10%;
  filter: drop-shadow(5px 9px 2px rgb(0 0 0 / 0.4));
}

#pic2:hover {
  cursor: pointer;
}

#disclaim {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  float: right;
  margin-left: 70%;
  margin-top: 30%;
}
