.picosa1 {
  position: absolute;
  width: 100%;
  float: right;
}

.mitra {
  position: absolute;
  width: 100%;
}

#pic1 {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  filter: drop-shadow(9px 9px 2px rgb(0 0 0 / 0.4));
}

.texto {
  position: absolute;
  width: 25%;
  float: left;
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    transform: scale(0.7);
    transform-origin: 0 0;
  }
  .texto {
    width: 95%;
    float: none;
    margin-top: 800px;
  }
  .return {
    float: none;
    margin-right: 5px;
    width: 140%;
  }
  .ojos {
    margin-left: 40px;
  }
  #pic1 {
    filter: drop-shadow(18px 9px 2px rgb(0 0 0 / 0.4));
  }
}

h1 {
  color: black;
  font-family: Andalé Mono, monospace;
  font-weight: bold;
}

p {
  color: black;
  font-family: Lucida, monospace;
  font-size: 20px;
  font-weight: bold;
}

body {
  background: #bcfd49;
}

.return {
  text-align: right;
  margin-right: 20px;
  margin-top: auto;
}

#link {
  background-color: black;
  color: white;
  font-family: Lucida, monospace;
  font-size: 40px;
}

#link:hover {
  color: yellow;
}

.ojos {
  position: absolute;
  top: 31%;
  left: -2%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.ojo {
  width: 70px;
  height: 60px;
  filter: drop-shadow(-3px -3px -3px rgb(0 0 0 / 0.4));

  background: white;
  display: inline-block;
  margin: 10px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 6px 1px;
}
.pupila {
  width: 20px;
  height: 20px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}
